My_workflow (2).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -680,
        1180
      ],
      "id": "e24f735b-9dee-4697-b843-6aa90992bee5",
      "name": "Default Data Loader2"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -380,
        1020
      ],
      "id": "8d4b5977-6218-4c0f-b1b9-1794c9cb96ed",
      "name": "Convert to File6"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -400,
        1300
      ],
      "id": "e8d699da-af1d-44ca-8de3-51ecfd25b1a3",
      "name": "Character Text Splitter"
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "open-embed",
          "mode": "list",
          "cachedResultName": "open-embed"
        },
        "prompt": "={{ $json[\"品名\"] }} {{ $json[\"單位\"] }}",
        "topK": 5,
        "includeDocumentMetadata": false,
        "options": {
          "pineconeNamespace": "rag"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        -880,
        440
      ],
      "id": "1c2b7708-2bab-4a47-8cf2-8720f492c816",
      "name": "Pinecone Vector Store2",
      "executeOnce": false,
      "credentials": {
        "pineconeApi": {
          "id": "uoNvdpuSZFb6Cx5S",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "83b11db6-4221-4cf1-945c-fae8faa5483a",
              "name": "item",
              "value": "={{$json[\"品號\"] + \" \" + $json[\"品名\"] + \" \" + $json[\"單位\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1140,
        900
      ],
      "id": "0e0eaa90-c63f-4bef-af88-3652c47ab608",
      "name": "品號,品名,單位",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "83b11db6-4221-4cf1-945c-fae8faa5483a",
              "name": "item",
              "value": "={{ $json[\"品名\"] + \" \" + $json[\"單位\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1140,
        1060
      ],
      "id": "80b61f98-2c5e-4b49-9ce6-ff1c4b4ad587",
      "name": "品名,單位"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -460,
        420
      ],
      "id": "d6514e2c-a97d-4894-baf1-21bbef49c455",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -920,
        1240
      ],
      "id": "3cf606d6-406a-4f17-a8b8-13ff4b6bf482",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "MaB9mPeYFJjZXF9o",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1W56Q7AwRGwX6SL_khgcTFAXi41Yw-y6jx7J4mwaFIVk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 610408220,
          "mode": "list",
          "cachedResultName": "COPR222025033000000320250330000",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W56Q7AwRGwX6SL_khgcTFAXi41Yw-y6jx7J4mwaFIVk/edit#gid=610408220"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1660,
        1000
      ],
      "id": "9db2af70-8b9a-432b-b035-77bd2ca7726e",
      "name": "Google Sheets product database",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VfEhTN1vBoqFlxvl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2640,
        180
      ],
      "id": "58d44e8e-e10d-4072-8ba3-d0088175f15b",
      "name": "Webhook",
      "webhookId": "019c2799-0fb1-43c8-929b-0d6251d465d1"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        -2420,
        180
      ],
      "id": "3747dc4c-bf7c-4aa8-921c-c75b84f73038",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vision.googleapis.com/v1/images:annotate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"requests\": [\n    {\n      \"image\": {\n        \"content\": \"{{ $json[\"base64\"] }}\"\n      },\n      \"features\": [\n        {\n          \"type\": \"DOCUMENT_TEXT_DETECTION\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1560,
        440
      ],
      "id": "9303f7e0-6fa2-4062-a6b2-083e5c8bcdfe",
      "name": "google vision ai4",
      "credentials": {
        "httpQueryAuth": {
          "id": "H0QpFWhSd0zTONrT",
          "name": "google vision ai api key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const buffer = await this.helpers.getBinaryDataBuffer(0, 'data0');\nconst base64 = buffer.toString('base64');\nreturn { json: { base64 } };\n"
      },
      "id": "f5b690b4-5498-43e4-8ea4-6669f4112c2f",
      "name": "base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1820,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// // 1) grab all incoming items (there should be exactly 1 from your OCR node)\n// const inputItems = this.getInputData();\n// if (inputItems.length === 0) {\n//   // nothing to process\n//   return [];\n// }\n// items[] is auto-populated with the output of the previous node\nif (!items || items.length === 0) {\n  // nothing to process\n  return [];\n}\n\n// pull the OCR JSON off the first item\nconst ocrJson = items[0].json;\nconst desc = ocrJson.responses?.[0]?.textAnnotations?.[0]?.description;\nif (!desc) {\n  throw new Error('No textAnnotations[0].description found');\n}\n\n// split the block into non-empty lines\nconst lines = desc\n  .split('\\n')\n  .map(l => l.trim())\n  .filter(l => l);\n\n// emit one new item per line\nreturn lines.map(line => ({\n  json: { item: line }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1340,
        440
      ],
      "id": "81617438-9f1b-4386-b8ff-93fcbbae346d",
      "name": "Code"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import re\n\n# 匹配：最短的「品名」.(可选空格).number.(unit)\npattern = re.compile(r\"(.+?)\\s*(\\d+(?:\\.\\d+)?)([^\\d\\s]+)\")\n\nnew_items = []\nfor item in items:\n    text = item[\"json\"].get(\"item\", \"\")\n    m = pattern.match(text)\n    if m:\n        name, qty, unit = m.groups()\n    else:\n        # fallback 全都放在品名裡面\n        name, qty, unit = text, None, None\n\n    # 寫回到 json\n    item[\"json\"][\"品名\"] = name\n    item[\"json\"][\"數量\"] = qty\n    item[\"json\"][\"單位\"] = unit\n\n    new_items.append(item)\n\nreturn new_items\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        440
      ],
      "id": "898ad666-1625-4de0-8960-9d4d2e5995f5",
      "name": "Code1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7be7fe88-1b5b-4132-80f8-2975d0f8bb86",
              "name": "text",
              "value": "廣東B/生菜葉",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1380,
        640
      ],
      "id": "2b75e265-1c8e-4f1b-b400-0b03d5eb288a",
      "name": "test data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8ndoc.cognitiveservices.azure.com/documentintelligence/documentModels/prebuilt-layout:analyze?api-version=2024-11-30&features=ocr.highResolution,ocr.formula,ocr.font&pages=1-5",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "base64Source",
              "value": "={{ $json.base64 }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1600,
        -40
      ],
      "id": "464a8d72-fbdd-4bab-bfd6-3a689e541b4f",
      "name": "HTTP Request",
      "credentials": {
        "httpQueryAuth": {
          "id": "H0QpFWhSd0zTONrT",
          "name": "google vision ai api key"
        },
        "httpHeaderAuth": {
          "id": "StIo90BELBkLQZYH",
          "name": "Azure api key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const buffer = await this.helpers.getBinaryDataBuffer(0, 'data0');\nconst base64 = buffer.toString('base64');\nreturn { json: { base64 } };\n"
      },
      "id": "a2e89983-865a-4089-8de6-c004c422e84a",
      "name": "base",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1840,
        -40
      ]
    },
    {
      "parameters": {
        "url": "=https://n8ndoc.cognitiveservices.azure.com/documentintelligence/documentModels/prebuilt-layout/analyzeResults/b7753739-569f-4025-85a0-6bdc5ac019da",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api-version",
              "value": "2024-11-30"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1380,
        -40
      ],
      "id": "95006027-9e8f-4a93-9656-5d6a1d9f236a",
      "name": "HTTP Request1",
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "StIo90BELBkLQZYH",
          "name": "Azure api key"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# n8n Python Code 節點\n\n# items 變數由 n8n 自動提供，包含前一個節點的所有輸入資料\n# 每一項 item 的結構為 {'json': {...}, 'binary': {...}（如有）}\n\n# 1. 擷取所有「單位」欄位的值\nunits = []\nfor item in items:\n    # 使用 get() 防止 key 不存在造成錯誤\n    unit = item['json'].get('單位')\n    # 只把非空值加入列表\n    if unit is not None:\n        units.append(unit)\n\n# 2. 去重\nunique_units = list(set(units))\n\n# 3. 回傳結果\n#    這裡我們把去重後的列表放在 json.uniqueUnits 裡\nreturn [\n    {\n        'json': {\n            'uniqueUnits': unique_units\n        }\n    }\n]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1380,
        800
      ],
      "id": "010923ed-133c-4abc-9161-113620ac273b",
      "name": "Code10"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "836164e9-0244-4489-a1d9-bb5a60799cd8",
              "name": "單位",
              "value": "={{ $json.uniqueUnits }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1160,
        740
      ],
      "id": "afc0eef1-5e94-4505-8ba6-87824bc27123",
      "name": "單位"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import re\n\n# 讀取 analyzeResult.content\nres = items[0].get('json', {})\nfull_text = res.get('analyzeResult', {}).get('content', '')\n\nlines = [ln.strip() for ln in full_text.splitlines() if ln.strip()]\n\n# 找到 header 的索引\nheader = [\"項次\",\"品號\",\"品名\",\"數量\",\"單位\",\"單價\",\"小計\"]\nstart_idx = None\nfor i in range(len(lines) - len(header) + 1):\n    if lines[i:i+7] == header:\n        start_idx = i + 7\n        break\n\n#  每 7 行一筆，抓品號、品名、數量、單位\nitems_list = []\nif start_idx is not None:\n    recs = lines[start_idx:]\n    for j in range(0, len(recs), 7):\n        chunk = recs[j:j+7]\n        if len(chunk) < 7:\n            break\n        try:\n            product_id   = chunk[1]\n            product_name = chunk[2]\n            quantity     = int(chunk[3])\n            unit         = chunk[4]\n        except:\n            continue\n        items_list.append({\n            \"product_id\":   product_id,\n            \"product_name\": product_name,\n            \"quantity\":     quantity,\n            \"unit\":         unit\n        })\n\nresult = {\n    \"items\":  items_list,\n    \"status\": \"completed\"\n}\n\nreturn [{ \"json\": result }]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        -40
      ],
      "id": "ba2c7c94-0f0c-4e66-a188-a394d7c1e3c9",
      "name": "Code11"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -340,
        60
      ],
      "id": "f96c82fc-fbcd-4dbd-942f-1285979a7a7f",
      "name": "pdf final output"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "86690958-58d4-4d57-abaf-5d7529038311",
              "leftValue": "={{$binary.data0.mimeType.trim().toLowerCase()}}\n",
              "rightValue": "application/pdf",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2200,
        180
      ],
      "id": "c7bfa361-832d-4c68-bd47-6bed2b39da8f",
      "name": "Check If file is pdf"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "output = []\n\nfor item in _input.all():\n    raw = item[\"json\"]\n    body = raw.get(\"body\", {})\n\n    name = body.get(\"name\")\n    date = body.get(\"date\")\n\n    output.append({\n        \"json\": {\n            \"name\": name,\n            \"date\": date\n        }\n    })\n\nreturn output\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1840,
        160
      ],
      "id": "7dd8c6ed-96b0-49a6-a881-238d58bcb8cc",
      "name": "Code2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -600,
        60
      ],
      "id": "145191bd-3c31-47cb-aa86-01004b29193c",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -140,
        280
      ],
      "id": "b47f778d-9f87-4438-9e7d-3d9c9d4cc71d",
      "name": "Merge1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1960,
        940
      ],
      "id": "5d8901a8-7cbc-4fda-aa20-b0c30b52fa76",
      "name": "Setting up database"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "open-embed",
          "mode": "list",
          "cachedResultName": "open-embed"
        },
        "embeddingBatchSize": 100,
        "options": {
          "pineconeNamespace": "rag"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        -780,
        1020
      ],
      "id": "265e4cdc-e6a3-43f6-8e2c-ac0eebe97228",
      "name": "Build Pinecone Vector Store (only run on first time)",
      "executeOnce": false,
      "credentials": {
        "pineconeApi": {
          "id": "uoNvdpuSZFb6Cx5S",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        80,
        280
      ],
      "id": "8f70bfb2-1c64-4bb4-8874-37960f415ed5",
      "name": "Image final output"
    }
  ],
  "pinData": {},
  "connections": {
    "Default Data Loader2": {
      "ai_document": [
        [
          {
            "node": "Build Pinecone Vector Store (only run on first time)",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader2",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store2": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "品名,單位": {
      "main": [
        [
          {
            "node": "Build Pinecone Vector Store (only run on first time)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Build Pinecone Vector Store (only run on first time)",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets product database": {
      "main": [
        [
          {
            "node": "品號,品名,單位",
            "type": "main",
            "index": 0
          },
          {
            "node": "品名,單位",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Check If file is pdf",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "google vision ai4": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "base64": {
      "main": [
        [
          {
            "node": "google vision ai4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "test data": {
      "main": [
        []
      ]
    },
    "base": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code10": {
      "main": [
        [
          {
            "node": "單位",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code11": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Check If file is pdf": {
      "main": [
        [
          {
            "node": "base",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pdf final output": {
      "main": [
        []
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "pdf final output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Image final output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setting up database": {
      "main": [
        [
          {
            "node": "test data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets product database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Pinecone Vector Store (only run on first time)": {
      "main": [
        [
          {
            "node": "Convert to File6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ac26bdc8-3c62-4a5e-a794-1496e2fb4eab",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1f7d48ba6b0afd5118408cdc828e329f7610fcc04c4c4e38ab671ab4e6d41afe"
  },
  "id": "FvU0Sb2DLhE50U5q",
  "tags": []
}